@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background: 60 7 100;
  --foreground: 0 0 10;
  --muted: 100 100 100;
  --background-start-rgb: 242 242 240;
  --background-end-rgb: 242 242 240;
  --text-default-rgb: 46 46 46;
  --background-input-field-rgb: 255 255 255;
  --text-inaccessible-rgb: 171 164 164;

  --freehold-land-color-rgb: 66 75 179;
  --freehold-house-color-rgb: 131 164 255;
  --fairhold-land-color-rgb: 74 179 91;
  --fairhold-house-color-rgb: 159 211 166;
  --fairhold-house-alpha: 0.5;
  --private-rent-color-rgb: 131 164 255;
  --affordable-rent-color-rgb: 255 97 118 0.5;
  --social-rent-color-rgb: 255, 97, 118;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  margin: 0;
  font-size: 18px;
  color: rgb(var(--text-default-rgb));
}

.h1-style {
  font-size: 2em;
  margin-top: 30px;
  line-height: 2.5rem;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.h3-style {
  letter-spacing: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
}

.subheadstyle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(var(--text-inaccessible-rgb));
}

.inputfield-style {
  background: rgb(var(--background-input-field-rgb));
  color: rgb(var(--text-inaccessible-rgb));
  font-size: 12px;
}

.inputfield-style:focus,
.inputfield-style:not(:placeholder-shown) {
  color: rgb(var(--text-default-rgb));
}

.inputfield-style:focus::placeholder {
  color: transparent;
}

.inaccessible-input-style {
  color: rgb(var(--text-inaccessible-rgb));
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.radio-button-style {
  background: rgb(var(--background-input-field-rgb));
  font-size: 12px;
}

.radio-label-style {
  font-size: 12px;
}

.calculate-button-style {
  background: rgb(var(--text-default-rgb));
  color: rgb(var(--background-input-field-rgb));
  font-size: 14px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.calculate-button-style:hover {
  transform: scale(1.05);
  background: rgb(var(--text-default-rgb)) !important;
}

.snap-container {
  height: 100vh;
  overflow: hidden;
}

.snap-scroll {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-scroll > * {
  scroll-snap-align: start;
  height: 100vh;
}

main {
  background: #f2f2f0;
}
