@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background: 60 7 100;
  --foreground: 0 0 10;
  --muted: 100 100 100;
  --background-start-rgb: 242 242 240;
  --background-end-rgb: 242 242 240;
  --background-highlight: 225 225 225;
  --text-default-rgb: 46 46 46;
  --background-input-field-rgb: 255 255 255;
  --text-inaccessible-rgb: 171 164 164;
  --button-background-rgb: 227 227 225;

  --freehold-equity-color-rgb: 66 75 179;
  --freehold-interest-color-rgb: 131 164 255;
  --freehold-detail-color-rgb: 190 201 232;
  --fairhold-land-rent-color-rgb: 28 117 43;
  --fairhold-equity-color-rgb: 74 179 91;
  --fairhold-interest-color-rgb: 159 211 166;
  --fairhold-detail-color-rgb: 207 227 209;
  --private-rent-land-color-rgb: 45 155 240;
  --private-rent-house-color-rgb: 119 188 242;
  --private-rent-detail-color-rgb: 203 225 242;
  --social-rent-land-color-rgb: 255 97 118;
  --social-rent-house-color-rgb: 242 160 171;
  --social-rent-detail-color-rgb: 242 196 202;
  --error-text-rgb: 230 5 5;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  margin: 0;
  font-size: 18px;
  color: rgb(var(--text-default-rgb));
}

.h1-style {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.h3-style {
  letter-spacing: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}

.error-message-style {
  color: rgb(var(--error-text-rgb));
}

.subheadstyle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(var(--text-inaccessible-rgb));
}

.inputfield-style {
  background: rgb(var(--background-input-field-rgb));
  color: rgb(var(--text-inaccessible-rgb));
  height: 30px;
}

.dropdown-style {
  background: rgb(var(--background-input-field-rgb)) !important;
  color: rgb(var(--text-inaccessible-rgb)) !important;
  font-size: 12px !important;
  border: 1px solid rgb(var(--text-inaccessible-rgb)) !important;
  height: 30px;
}

.dropdown-style:focus {
  border: 1px solid rgb(var(--text-default-rgb)) !important;
  color: rgb(var(--text-default-rgb)) !important;
}

.dropdown-style.selected {
  border: 1px solid rgb(var(--text-default-rgb)) !important;
  color: rgb(var(--text-default-rgb)) !important;
}

.inputfield-style:focus,
.inputfield-style:not(:placeholder-shown) {
  color: rgb(var(--text-default-rgb));
}

.inputfield-style:focus::placeholder {
  color: transparent;
}

.inaccessible-input-style {
  color: rgb(var(--text-inaccessible-rgb));
  margin-top: 0px;
  margin-bottom: 0px;
}

.optional-style {
  color: rgb(var(--text-inaccessible-rgb));
}

.radio-button-style {
  background: rgb(var(--background-input-field-rgb));
  font-size: 12px;
}

.radio-label-style {
  font-size: 12px;
}

.calculate-button-style {
  background: rgb(var(--text-default-rgb));
  color: rgb(var(--background-input-field-rgb));
  font-size: 14px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  border-radius: 20px;
}

.calculate-button-style:hover {
  transform: scale(1.05);
  background: rgb(var(--text-default-rgb)) !important;
}

.snap-container {
  height: 100vh;
  overflow: hidden;
}

.snap-scroll {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-scroll > * {
  scroll-snap-align: start;
  height: 100vh;
}

main {
  background: #f2f2f0;
}
