@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background: 60 7 100;
  --foreground: 0 0 10;
  --muted: 100 100 100;
  --background-start-rgb: 242 242 240;
  --background-end-rgb: 242 242 240;
  --background-highlight: 225 225 225;
  --text-default-rgb: 46 46 46;
  --background-input-field-rgb: 255 255 255;
  --text-inaccessible-rgb: 171 164 164;
  --button-background-rgb: 227 227 225;
  --footer-background-rgb: 22, 22, 22;

  --freehold-equity-color-rgb: 77 100 210;
  --freehold-interest-color-rgb: 131 164 255;
  --freehold-detail-color-rgb: 190 201 232;
  --fairhold-land-rent-color-rgb: 40 130 50;
  --fairhold-equity-color-rgb: 74 179 91;
  --fairhold-interest-color-rgb: 159 211 166;
  --fairhold-detail-color-rgb: 207 227 209;
  --leasehold-color-rgb: 29, 112, 184, 0.8; /* some colours / tenures are only used in the survey results, not the calculator results--so we only have one version of them */
  --private-rent-land-color-rgb: 45 155 240; 
  --private-rent-house-color-rgb: 119 188 242;
  --private-rent-detail-color-rgb: 203 225 242;
  --shared-ownership-color-rgb: 149, 151, 202;
  --social-rent-land-color-rgb: 255 97 118;
  --social-rent-house-color-rgb: 242 160 171;
  --social-rent-detail-color-rgb: 242 196 202;
  --affordable-rent-color-rgb: 255, 97, 118, 0.8;
  --error-text-rgb: 181 31 20;
  --not-viable-light-color-rgb: 251 164 164;
  --not-viable-dark-color-rgb: 255 0 0;

  --survey-black: 0, 0, 0;
  --survey-grey-dark: 0, 0, 0, 0.68;
  --survey-grey-mid: 0, 0, 0, 0.54;
  --survey-grey-light: 0, 0, 0, 0.15;
  --survey-grey-lightest: 0, 0, 0, 0.05;
  --survey-orange: 255, 164, 53;
  --survey-pink: 255, 170, 179;
  
  --survey-blue: 34 138 230;
  --survey-blue-light: 141 193 239;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

body {
  margin: 0;
  font-size: 18px;
  color: rgb(var(--text-default-rgb));
}

.h1-style {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: -0.03em;
}

.h3-style {
  letter-spacing: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 600;
}

.error-message-style {
  color: rgb(var(--error-text-rgb));
}

.subheadstyle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(var(--text-inaccessible-rgb));
}

.inputfield-style {
  background: rgb(var(--background-input-field-rgb));
  color: rgb(var(--text-inaccessible-rgb));
  height: 30px;
}

.dropdown-style {
  background: rgb(var(--background-input-field-rgb)) !important;
  color: rgb(var(--text-inaccessible-rgb)) !important;
  font-size: 12px !important;
  border: 1px solid rgb(var(--text-inaccessible-rgb)) !important;
  height: 30px;
}

.dropdown-style:focus {
  border: 1px solid rgb(var(--text-default-rgb)) !important;
  color: rgb(var(--text-default-rgb)) !important;
}

.dropdown-style.selected {
  border: 1px solid rgb(var(--text-default-rgb)) !important;
  color: rgb(var(--text-default-rgb)) !important;
}

.inputfield-style:focus,
.inputfield-style:not(:placeholder-shown) {
  color: rgb(var(--text-default-rgb));
}

.inputfield-style:focus::placeholder {
  color: transparent;
}

.inaccessible-input-style {
  color: rgb(var(--text-inaccessible-rgb));
  margin-top: 0px;
  margin-bottom: 0px;
}

.optional-style {
  color: rgb(var(--text-inaccessible-rgb));
}

.radio-button-style {
  background: rgb(var(--background-input-field-rgb));
  font-size: 12px;
}

.radio-label-style {
  font-size: 12px;
}

.calculate-button-style {
  background: rgb(var(--text-default-rgb));
  color: rgb(var(--background-input-field-rgb));
  font-size: 14px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  border-radius: 20px;
}

.calculate-button-style:hover {
  transform: scale(1.05);
  background: rgb(var(--text-default-rgb)) !important;
}

.snap-container {
  height: 100vh;
  overflow: hidden;
}

.snap-scroll {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-scroll > * {
  scroll-snap-align: start;
  height: 100vh;
}

main {
  background: #f2f2f0;
}

.main-content {
  padding-bottom: 2rem;
  background: rgb(var(--background-end-rgb));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.logo {
  color: #000;
  letter-spacing: -.03em;
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
  text-decoration-color: #000;
}

.nav-link {
  opacity: 100;
  font-size: 14px;
  line-height: 20px;
}

.w-nav-link {
  vertical-align: top;
  color: #222;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container {
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px;
}

.body-s {
  font-size: 15px;
  line-height: 21px;
}

.top-spacer {
  height: 60px;
}